@import "tailwindcss";

@theme {
  --color-background: #111315;
  --color-foreground: #FFFFFF;
  
  --color-card: #292C2D;
  --color-card-hover: #3D4142;
  
  --color-primary: #FAC1D9;
  --color-primary-dark: #FF9BD2;
  --color-secondary: #50CD89;
  --color-secondary-light: #C2E9DD;
  
  --color-text-main: #FFFFFF;
  --color-text-muted: #777979;
  --color-text-dark: #333333;
  
  --color-danger: #F60000;
  --color-success: #37D100;
  
  --font-sans: 'Poppins', sans-serif;
  --font-display: 'Montserrat', sans-serif;
}

:root {
  --background: #111315;
  --foreground: #FFFFFF;
}

/* Custom Utilities */
@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-card-hover);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-muted);
}